@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Noto Sans TC, sans-serif, Arial !important;
  font-size: 1.7rem;
  line-height: 1.75;
  color: #1a1a1a;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-size: 3.2rem;
  font-size: 2.8rem;
  font-size: 2.4rem;
  font-size: 2.2rem;
  font-size: 2rem;
  font-size: 1.8rem;
}
b {
  font-weight: 500;
}
p {
  margin-bottom: 2.5rem;
}
ol,
ul {
  padding-left: 1.7rem;
}
#main-login[data-v-24fe1293] {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #394e46;
}
.window-box[data-v-24fe1293] {
  width: 800px;
  height: 570px;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register-area[data-v-24fe1293] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  z-index: -1;
  background-color: #1d678f;
}
.register-close[data-v-24fe1293] {
  width: 50px;
  height: 50px;
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  top: 0;
  left: 0;
  font-size: 2.6rem;
  text-align: center;
}
.register-panel[data-v-24fe1293] {
  width: 300px;
  height: auto;
  position: relative;
  z-index: 12;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.75);
}
.login-area[data-v-24fe1293] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  background-color: #ffb34a;
}
.login-area[data-v-24fe1293]:before {
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  content: '';
  background-color: #f88282;
  z-index: 1;
  background-color: #ffb34a;
  z-index: -1;
  top: 0;
  left: -25px;
  transform-origin: center center;
  transform: translateY(-50px) rotate(5deg);
  transition: all 0.5s linear;
}
.login-area.register-status[data-v-24fe1293]:before {
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  content: '';
  background-color: #f88282;
  background-color: #1d678f;
  z-index: 1;
  top: 0;
  left: -30px;
  transform-origin: center center;
  transform: translateY(-50px) rotate(-5deg);
}
.login-panel[data-v-24fe1293] {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.75);
}
.input[data-v-24fe1293],
.title[data-v-24fe1293] {
  margin-bottom: 10px;
}
.title[data-v-24fe1293] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
}
.title h3[data-v-24fe1293] {
  margin: 0;
}
.input[data-v-24fe1293] {
  padding: 10px 14px;
  text-align: right;
}
.input form[data-v-24fe1293] {
  height: 100%;
  background-color: #fff;
}
.input .forget-password[data-v-24fe1293] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
input[data-v-24fe1293] {
  width: 100%;
  height: 50px;
  border: 1px solid hsla(0, 0%, 82.7%, 0.35);
  font-size: 1.5rem;
  padding: 0 1.8rem;
  margin-bottom: 8px;
  background-color: #f5f8f9;
  border-radius: 5px;
  outline: none;
}
input[data-v-24fe1293]:focus {
  border: 1px solid hsla(0, 0%, 40.8%, 0.35);
}
.btn[data-v-24fe1293] {
  margin-top: 20px;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.btn[data-v-24fe1293]:before {
  content: '';
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2ebc4f;
  display: block;
  transform: translateX(-100%);
  transition: all 0.4s cubic-bezier(0.5, 0.25, 0, 1);
  pointer-events: none;
}
.btn[data-v-24fe1293]:hover:before {
  transform: translateX(0);
}
.btn input[data-v-24fe1293] {
  width: 100%;
  height: 100%;
  border: 0 solid #000;
  position: relative;
  cursor: pointer;
  background-color: #19283d;
  overflow: hidden;
  border-radius: 0.25rem;
  outline: none;
}
.btn p[data-v-24fe1293] {
  pointer-events: none;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.register[data-v-24fe1293] {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.register h5[data-v-24fe1293] {
  color: #fff;
  font-weight: 400;
}
.register h4[data-v-24fe1293] {
  position: relative;
  cursor: pointer;
  color: #19283d;
}
.account[data-v-24fe1293]:before {
  content: '';
  width: 0;
  height: 2px;
  z-index: 1;
  background-color: #19283d;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.4s cubic-bezier(0.5, 0.25, 0, 1);
}
.account[data-v-24fe1293]:hover:before {
  width: 100%;
  height: 2px;
}
#main-dashboard[data-v-592e9654] {
  border: 1px solid #000;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: relative;
}
#toggle-btn[data-v-592e9654] {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
#side-bar[data-v-592e9654] {
  border: 1px solid #000;
  width: 300px;
  height: auto;
  position: absolute;
  content: '';
  background-color: #f88282;
  z-index: 1;
  display: inline-block;
  margin: 0;
  min-height: 100vh;
}
#view-port[data-v-592e9654] {
  border: 1px solid #000;
  width: calc(100% - 300px);
  height: 500px;
  display: inline-block;
  margin-left: 300px;
  position: relative;
  background-color: rgba(65, 105, 225, 0.548);
}
.top-bar[data-v-592e9654] {
  border: 1px solid #000;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  position: relative;
}
.user-info[data-v-592e9654] {
  border: 1px solid #000;
  width: 100%;
  height: 125px;
}
.select-item-block[data-v-592e9654] {
  border: 1px solid #000;
  width: 100%;
  height: 500px;
}
.select-item-title[data-v-592e9654] {
  border: 1px solid #000;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 10px 10px;
}
.select-item-title h4[data-v-592e9654] {
  margin: 0;
}
.bar-footer[data-v-592e9654] {
  border: 1px solid #000;
  width: 100%;
  height: 35px;
  position: absolute;
  content: '';
  background-color: #f88282;
  z-index: 1;
  bottom: 0;
}
